@if (product()) {
  <h3>Detalhes do produto: {{ product()?.title }}</h3>
  <p>Preço: {{ product()?.price }}</p>
  <p>Descrição: {{ product()?.description }}</p>
  <p>Categoria: {{ product()?.category }}</p>
  <img [src]="product()?.image" alt="{{ product()?.title }}">
} @else {
  <p>Carregando detalhes do produto...</p>
}

<button (click)="addToCart()">
  Add to Cart
</button>

<hr style="margin-top: 800px; margin-bottom: 20px;">

@defer (on viewport) {
  <app-reviews></app-reviews>
}
@placeholder {
  <div class="placeholder">
    <p>Role para baixo para ver as avaliações...</p>
  </div>
}
@loading (minimum 5s) {
  <p>Carregando avaliações...</p>
}
@error {
  <p>Erro ao carregar avaliações...</p>
}

<a [routerLink]="['/products', 1, 'reviews', 101]">Ver avaliação de exemplo</a>
