<h2>Painel de Administração</h2>
<p>Bem-vindo ao painel de administração. Aqui você pode gerenciar os produtos, categorias e pedidos da loja.</p>
<nav>
    <ul>
        <li>
            <a routerLink="dashboard">Dashboard</a>
        </li>
        <li>
            <a routerLink="manage-users" routerLinkActive="active">Gerenciar Usuários</a>
        </li>
        <li>
            <a routerLink="manage-products" routerLinkActive="active">Gerenciar Produtos</a>    
        </li>
    </ul>
</nav>
<hr>
<router-outlet></router-outlet>

