<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Minha Loja</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">{{ 'NAVIGATION.HOME' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products">{{ 'NAVIGATION.PRODUCTS' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">{{ 'NAVIGATION.ABOUT' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin">{{ 'NAVIGATION.ADMIN' | translate }}</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          @if(!authService.isLoggedIn()) {
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">{{ 'NAVIGATION.LOGIN' | translate }}</a>
            </li>
          } @else {
            <li class="nav-item">
              <p>{{ 'WELCOME_MESSAGE' | translate: { username: authService.getUserName() } }}</p>
              <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
            </li>
          }
        </ul>
        <app-language-switcher></app-language-switcher>
      </div>
      <app-shopping-cart></app-shopping-cart>
    </div>
  </nav>
</header>

<main class="container mt-4">
  <router-outlet />
</main>

